# Application
plugins/*
!plugins/.gitkeep
mu-plugins/*/
!mu-plugins/nought-wp-custom
!mu-plugins/vendor

# Composer
vendor
!vendor/.gitkeep

# Nought
uploads-dev/*
!uploads-dev/.htaccess
node_modules
npm-debug.log
*.DS_Store
*.tar.gz
containers/mysql/initdb.d/*
!containers/mysql/initdb.d/.gitkeep
dumps/*
!dumps/.gitkeep
