# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/nought-wp-custom
!web/app/mu-plugins/vendor
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor
!vendor/.gitkeep

# WP-CLI
wp-cli.local.yml

# Nought
uploads-dev/*
!uploads-dev/.htaccess
node_modules
npm-debug.log
*.DS_Store
*.tar.gz
containers/mysql/initdb.d/*
!containers/mysql/initdb.d/.gitkeep
dumps/*
!dumps/.gitkeep
