html {
  font-size: $base-font-size;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
*:focus:not(.focus-visible),
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
